A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object

Data types are the classification or categorization of knowledge items. The 6 standard data types in Python are Numeric, String, List, Tuple, Set, and Dictionary.

In [1]:
a = 10
print(a)

10

In [2]:
id(a)

1121576512080

In [4]:
a = 10
b = 10
print(id(a))
print(id(b))

1121576512080
1121576512080

In [5]:
type(a)

int

In [6]:
c = '$'
type(c)

str

In [7]:
a = 5
b = 'hello'

In [10]:
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
print(str(a)+b)

5hello

Data types are classified into two types : \
    >primitive[integer,float,complex,boolean]\
    >non-primitive[list,set,tuple,dictionary]

### Integer

In [31]:
a = 3
b = -4
print(a+b)

-1

In [32]:
type(a)

int

In [33]:
type(b)

int

### Float

In [34]:
a = 1.23
b = -9.1

In [35]:
print(a)
print(b)

1.23
-9.1

### complex

In [36]:
a = 3+4j

In [37]:
print(a)

(3+4j)

In [38]:
b = 55+7j

In [39]:
print(b)

(55+7j)

### String

In [40]:
str1 = "vignesh"

In [41]:
str2 = "gopi"

In [42]:
print(str1 + " " + str2)

vignesh gopi

In [43]:
str3 = " python programming"

In [44]:
print(str3)

 python programming

'+' operator is used to concatinate two strings

### Boolean

In [45]:
print(5<7)

True

In [46]:
print(7<1)

False

In [47]:
print(3==3)

True

### List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

List can allow different datatypes int it.

In [53]:
list = [1,2,3,'vignesh',True]

In [54]:
list

[1, 2, 3, 'vignesh', True]

In [55]:
print(len(list))

5

In [56]:
type(list)

list

Python Collections (Arrays)\
There are four collection data types in the Python programming language:

+ List is a collection which is ordered and changeable. Allows duplicate members.
+ Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
+ Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
+ Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [57]:
list1 = ['apple','banana','mango','banana','pineapple']

In [59]:
print(list1)

['apple', 'banana', 'mango', 'banana', 'pineapple']

In [60]:
list1[2]

'mango'

In [61]:
list1[-1]

'pineapple'

In [62]:
list1[1:3]

['banana', 'mango']

In [63]:
list1[1:4]

['banana', 'mango', 'banana']

#### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [64]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the start value, the range will start at the first item:

By leaving out the end value, the range will go on to the end of the list:

In [65]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [66]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists

In [67]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [68]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [69]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [70]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [71]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [72]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [73]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

Method	Description.
+ append()	Adds an element at the end of the list.
+ clear()	Removes all the elements from the list.
+ copy()	Returns a copy of the list
+ count()	Returns the number of elements with the specified value
+ extend()	Add the elements of a list (or any iterable), to the end of the current list
+ index()	Returns the index of the first element with the specified value
+ insert()	Adds an element at the specified position
+ pop()	Removes the element at the specified position
+ remove()	Removes the first item with the specified value
+ reverse()	Reverses the order of the list
+ sort()	Sorts the list

# Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Since tuples are indexed, they can have items with the same value:
A tuple can contain different data types

In [74]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [75]:
print(len(thistuple))

3

In [76]:
type(thistuple)

tuple

In [77]:
tup = (65,23,17,19)

In [78]:
print(tup)

(65, 23, 17, 19)

Method	Description:
+ count()	Returns the number of times a specified value occurs in a tuple
+ index()	Searches the tuple for a specified value and returns the position of where it was found

In [83]:
tup.count(65)

1

In [84]:
tup.index(17)

2

# Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.
Sets are unordered, so you cannot be sure in which order the items will appear.
Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [85]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

+ Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [86]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [87]:
print(len(thisset))

5

A set can contain different data types:

In [88]:
set1 = {"abc", 34, True, 40, "male"}

In [89]:
set1

{34, 40, True, 'abc', 'male'}

Method	Description : 
+ add()	Adds an element to the set
+ clear()	Removes all the elements from the set
+ copy()	Returns a copy of the set
+ difference()	Returns a set containing the difference between two or more sets
+ difference_update()	Removes the items in this set that are also included in another, specified set
+ discard()	Remove the specified item
+ intersection()	Returns a set, that is the intersection of two other sets
+ intersection_update()	Removes the items in this set that are not present in other, specified set(s)
+ isdisjoint()	Returns whether two sets have a intersection or not
+ issubset()	Returns whether another set contains this set or not
+ issuperset()	Returns whether this set contains another set or not
+ pop()	Removes an element from the set
+ remove()	Removes the specified element
+ symmetric_difference()	Returns a set with the symmetric differences of two sets
+ symmetric_difference_update()	inserts the symmetric differences from this set and another
+ union()	Return a set containing the union of sets
+ update()	Update the set with the union of this set and others

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values

In [90]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [92]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed
Dictionaries cannot have two items with the same key

Method	Description :
+ clear()	Removes all the elements from the dictionary
+ copy()	Returns a copy of the dictionary
+ fromkeys()	Returns a dictionary with the specified keys and value
+ get()	Returns the value of the specified key
+ items()	Returns a list containing a tuple for each key value pair
+ keys()	Returns a list containing the dictionary's keys
+ pop()	Removes the element with the specified key
+ popitem()	Removes the last inserted key-value pair
+ setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
+ update()	Updates the dictionary with the specified key-value pairs
+ values()	Returns a list of all the values in the dictionary